<div class="jumbotron bg-white text-center">
  <h1 class="display-4">Covid-19 Tracker</h1>
  <hr />
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente doloribus
    quibusdam recusandae corporis, doloremque, temporibus consectetur, veniam
    voluptate dicta sequi odio ad delectus suscipit nemo. Excepturi quisquam
    optio vitae ipsam!
  </p>
  <hr class="my-4" />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nisi sequi
    beatae? Libero natus maiores eius aliquam velit suscipit necessitatibus
    alias quisquam doloribus labore asperiores, deserunt dolor sint eveniet
    animi?
  </p>
</div>
