<div class="jumbotron bg-white text-center">
  <h1 class="display-4">Covid-19 Tracker</h1>
  <hr />
  <div class="row">
    <div class="col card p-3 m-3">
      <app-dashboard-card
        [title]="'Confirmed'"
        [value]="totalData.confirmed"
      ></app-dashboard-card>
    </div>
    <div class="col card p-3 m-3">
      <app-dashboard-card
        [title]="'Recovered'"
        [value]="totalData.recovered"
      ></app-dashboard-card>
    </div>
    <div class="col card p-3 m-3">
      <app-dashboard-card
        [title]="'Deaths'"
        [value]="totalData.deaths"
      ></app-dashboard-card>
    </div>
    <div class="col card p-3 m-3">
      <app-dashboard-card
        [title]="'Active'"
        [value]="totalData.active"
      ></app-dashboard-card>
    </div>
  </div>
  <!-- <google-chart [data]="pieChart"></google-chart> -->
</div>
